<!DOCTYPE html>
<html>
  <head>
    <title>AnimalService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <%= render "shared/nav" %> 
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable fade show" role="alert">
      <div class="d-flex justify-content-between align-middle">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    </div>
    <% flash.discard(key.to_sym) %>
<% end %>

  <body>
    <%= yield %>
  </body>

</html>
